* {
    margin: 0;
    padding: 0;
}

h1, label, button, #output, #alert-message, #credit a, p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

label {
    text-align: right;
}

.hero-image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./img/bg.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px black;
}

p {
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-bottom: 1em;
}

#logic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: column;
}

#controls button, #alert button, #example button {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-weight: 400;
    background-color: white;
    border: none;
}

#calculate {
    font-size: 1.5em;
}

#switch {
    font-size: 0.8em;
}

#labels, #inputs {
    display: flex;
    flex-direction: column;
}

header, main {
    z-index: 0;
}

h1 {
    font-weight: 800;
    font-size: 3em;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
}

label, input {
    margin: 0.25em;
}

label {
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
}

input {
    font-size: 1.5em;
    text-align: center;
    width: 4em;
}

#output {
    height: 2em;
    font-size: 2em;
    font-weight: 800;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
}

#alert-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#alert {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
}

#alert-message {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    color: black;
}

#alert button {
    color: white;
    background-color: black;
    font-size: 1.5em;
    padding: 0.2em;
}

#credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
}

#credit a {
    color: white;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
}

#example {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5em;
}

#example button {
    margin-right: 0.5em;
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 2.5em;
    }

    label, input {
        font-size: 1em;
    }

    #output {
        font-size: 1.4em;
    }

    #example {
        flex-direction: column;
    }

    #example button {
        font-size: 0.6em;
    }
}